.toplist {
    font-size: var(--chakra-fontSizes-xl);
    margin-right: 5px;
}
/* 
    --chakra-fontSizes-xs: 0.75rem;
    --chakra-fontSizes-sm: 0.875rem;
    --chakra-fontSizes-md: 1rem;
    --chakra-fontSizes-lg: 1.125rem;
    --chakra-fontSizes-xl: 1.25rem;
    --chakra-fontSizes-2xl: 1.5rem;
    --chakra-fontSizes-3xl: 1.875rem;
    --chakra-fontSizes-4xl: 2.25rem;
    --chakra-fontSizes-5xl: 3rem;
    --chakra-fontSizes-6xl: 3.75rem;
    --chakra-fontSizes-7xl: 4.5rem;
*/

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
.fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*chart tooltip*/
body {
    width: 100vw;
    height: 100vh;
}
.geo-info-popup {
    background: #fff;
    box-shadow: 0px 0px 2px #bbb;
    border-radius: 4px;
    display: inline-block;
    padding: 6px;
    font-family: arial;
    font-size: 14px;
    min-width: 150px;
}
.state-info {
    padding-bottom: 10px;
    padding: 10px;
    margin-bottom: 5px;
}
.state-info__label {
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid rgb(223, 223, 223.6);
    padding-left: 6px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.state-info__label::before {    
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
    width: 2px;
    height: 16px;
    transform: translateY(-50%);
    background: blue;
}
.state-info__value {
    font-weight: bold;
}
